@model Planification

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Planification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" class="form-control" asp-items="ViewBag.FilmId"></select>
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalleId" class="control-label"></label>
                <select asp-for="SalleId" class="form-control" asp-items="ViewBag.SalleId"></select>
                <span asp-validation-for="SalleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDate" class="control-label"></label>
 <select asp-for="IdDate" class="form-control" asp-items="ViewBag.IdDate"></select>
                <span asp-validation-for="IdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prixticket" class="control-label"></label>
                <input type="number" asp-for="prixticket" class="form-control" asp-items="ViewBag.prixticket"></input>
                <span asp-validation-for="prixticket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
